@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
body,button{
    font-family: 'Montserrat', sans-serif;
}
.logo {
  max-width: 95px;
}
:root{
    --offcanvas-width: 270px;
    --topNavbarHeight: 70px;
}

.sidebar-nav{
    width: var(--offcanvas-width);
}

@media (min-width:992px) {
    body{
        overflow: auto !important;
    }
    .offcanvas-backdrop::before{
        display: none;
    }
    .sidebar-nav{
        transform: none;
        visibility: visible !important;
        top:var(--topNavbarHeight);
        height: calc(100% - var(--topNavbarHeight));
    }
}
