@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
body,button{
    font-family: 'Montserrat', sans-serif;
}

.logo {
  max-width: 10rem;
}

:root{
    --offcanvas-width: 270px;
    --topNavbarHeight: 6.2rem;
}
.bg-naranja{
    /* background-color: #F28705; */
    background-color: #fc740d;
}
.bg-celeste{
    background-color: #39b1d3;
}
.sidebar-nav{
    width: var(--offcanvas-width);
}
.bi{
    font-size: 2rem;
}
@media (min-width:992px) {
    body{
        overflow: auto !important;
    }
    .offcanvas-backdrop::before{
        display: none;
    }
    .sidebar-nav{
        transform: none;
        visibility: visible !important;
        top:var(--topNavbarHeight);
        height: calc(100% - var(--topNavbarHeight));
    }
}
