@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
body,button{
    font-family: 'Montserrat', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    padding: 50px;
    color: #F28705;
}
.logo{
    max-width: 10rem;
    margin: 10px;
}
.btn-primary{
    color:white;
    background-color: #F28705;
    border-color: #F28705;
    margin:20px auto;
    border-radius:10px;
    padding: 10px 15px;
    border:0;
    font-size: 20px;
}
.container{
    display: flex;
    justify-content: space-around;
}
.modulo{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 20px;
    transition: transform .2s;
}
.modulo:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 830px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    .modulo{
        margin-bottom: 30px;
    }
}